---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { markdownify, plainify } from "@/lib/utils/textConverter";
import ArrowBtn from "./ArrowBtn.astro";
import CardTag from "./CardTag.astro";
import ImageMod from "./ImageMod.astro";

const { summary_length }: { summary_length: number; blog_folder: string } = config.settings;
const props = Astro.props;
const aosDelay = props.aosDelay || 0;
const { title, image, date, categories } = props.data.data;
const { body, slug } = props.data;
---

<div data-aos="fade-up-sm" data-aos-delay={aosDelay}>
  <div
    class="shadow-inset shadow-shadow/50 hover:shadow-shadow hover:bg-theme-light/10 transition-all duration-500 border border-border p-8 lg:p-10 !pb-8 rounded-4xl group h-full"
  >
    <div class="flex gap-y-5 flex-col items-start justify-between h-full">
      <div class="space-y-6">
        <div class="relative rounded-3xl overflow-hidden">
          <div class="absolute top-5 right-5 z-10 flex items-center gap-2">
            {categories && categories.map((cat: string) => <CardTag category={cat} />)}
          </div>
          <ImageMod
            class="w-full object-cover group-hover:scale-105 transition-transform duration-500"
            src={image}
            alt={title}
            width={500}
            height={385}
          />
        </div>

        <div class="flex flex-col">
          <p class="font-light mb-8">{dateFormat(date, "iiii, MMM dd, yyyy")}</p>
          <h3 class="text-h5 text-white mb-4" set:html={markdownify(title)} />
          {body && <p>{plainify(body.slice(0, summary_length))}</p>}
        </div>
      </div>

      <ArrowBtn label="Read Full Blog" link={"/blog/" + slug} />
    </div>
  </div>
</div>
