---
import { markdownify } from "@/lib/utils/textConverter";
import ImageMod from "./ImageMod.astro";

const { title, version, desc, image, imageAlt } = Astro.props;
---

<div class="p-6 rounded-4xl border border-border" data-aos="fade-up-sm">
  <div class="flex flex-col lg:flex-row gap-10 max-w-[500px] lg:max-w-none mx-auto">
    <div class="lg:w-[45%] px-0">
      <div class="rounded-3xl overflow-hidden border border-border bg-theme-light/50 px-10 lg:px-16 py-6">
        <ImageMod src={image} alt={imageAlt} width={360} height={336} class="w-full object-cover" />
      </div>
    </div>

    <div class="lg:w-[55%] px-0">
      <div class="flex flex-col items-start justify-center h-full">
        {
          version && (
            <span class="h-10 px-4 text-sm font-medium bg-secondary rounded-full text-dark grid place-items-center">
              Version {version}
            </span>
          )
        }
        <h2 class="text-h4 mt-8 mb-4 col-10" set:html={markdownify(title)} />
        <p set:html={markdownify(desc)} />
      </div>
    </div>
  </div>
</div>
