---
import ImageMod from "./ImageMod.astro";

const { quote, name, position, image, aosDelay } = Astro.props;
---

<div data-aos="fade-up-sm" data-aos-delay={aosDelay || 0}>
  <div
    class="border border-border shadow-inset shadow-shadow/50 hover:shadow-shadow transition-shadow duration-500 rounded-4xl py-4 flex flex-col justify-between h-full"
  >
    <div class="py-10 px-6">
      <blockquote class="text-white/80 leading-[1.813rem] bq">{quote}</blockquote>
    </div>
    <div class="p-6 border-t border-border/60">
      <div class="flex justify-between items-center">
        <div>
          <p class="text-white font-medium" set:html={name} />
          <p class="text-sm font-light text-white/60" set:html={position} />
        </div>
        <ImageMod width={64} height={64} src={image} alt={name} loading="lazy" class="rounded-2xl w-16 h-16" />
      </div>
    </div>
  </div>
</div>
