---
import FooterLink from "@/components/FooterLink.astro";
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";

// Function to replace {year} this from string to year
function replaceYear(text: string) {
  const year = new Date().getFullYear();

  return text.replace("{year}", year.toString());
}
---

<footer>
  <div class="container">
    <div class="pb-11 border-b border-white/10">
      <div class="flex flex-col xl:flex-row items-start lg:items-center justify-between gap-8">
        <div class="flex flex-col gap-y-8 lg:flex-row items-start lg:items-center">
          <Logo />

          <div class="w-[1px] bg-white h-5 hidden lg:block mx-8"></div>
          {
            config.params.footer_description && (
              <p class="xl:max-w-[420px]" set:html={markdownify(config.params.footer_description)} />
            )
          }
        </div>
        {
          menu.footer_main_links && (
            <ul class="flex flex-col sm:flex-row flex-wrap gap-8">
              {menu.footer_main_links.map((item) => (
                <li>
                  <FooterLink href={item.url} title={item.name} />
                </li>
              ))}
            </ul>
          )
        }
      </div>
    </div>
    <div class="pt-11 pb-16">
      <div class="flex flex-col lg:flex-row lg:items-center gap-8 justify-between">
        <div class="order-2 lg:order-1">
          <p class="mb-1.5" set:html={markdownify(replaceYear(config.params.copyright))} />
        </div>
        <div class="order-1 lg:order-2">
          {
            menu.footer_main_links && (
              <ul class="flex flex-col sm:flex-row flex-wrap gap-8">
                {menu.footer_quick_links.map((item) => (
                  <li>
                    <FooterLink href={item.url} title={item.name} />
                  </li>
                ))}
              </ul>
            )
          }
        </div>
        <div class="order-3 lg:order-3">
          <!--social links-->
          <Social source={social.main} className="text-white flex items-center gap-5" />
        </div>
      </div>
    </div>
  </div>
</footer>
